In [28]:
import pandas as pd
import numpy as np
import random
import json
from datetime import datetime

In [29]:
df_am = pd.read_csv('data/amazon_mobiles/products.csv')
df_a = pd.read_csv('data/amazon/products.csv')
df_e = pd.read_csv('data/ecommerce/products.csv')
df_f = pd.read_csv('data/flipkart/products.csv')
df_j = pd.read_csv('data/jcpenney/products.csv')

dfs = [df_am, df_a, df_e, df_f, df_j]

In [30]:
conj = []
for df in dfs:
    conj += df.to_dict(orient='records')

In [31]:
ids = []
df_am['Id'].apply(lambda x: ids.append((x, 0)))
df_a['Id'].apply(lambda x: ids.append((x, 1)))
df_e['Id'].apply(lambda x: ids.append((x, 2)))
df_f['Id'].apply(lambda x: ids.append((x, 3)))
df_j['Id'].apply(lambda x: ids.append((x, 4)))

0        None
1        None
2        None
3        None
4        None
         ...
10609    None
10610    None
10611    None
10612    None
10613    None
Name: Id, Length: 10614, dtype: object

In [32]:
df = pd.DataFrame()
df['Id'] = ["purchases/" + str(x) for x in range(1, 100001)]
df['client'] = ["clients/" + str(x) for x in np.random.randint(1, 100000, df.shape[0])]
df['lines'], df['total'], df['orderDate'] = None, None, None

In [33]:
df

                     Id         client lines total orderDate
0           purchases/1  clients/11522  None  None      None
1           purchases/2  clients/86130  None  None      None
2           purchases/3  clients/12610  None  None      None
3           purchases/4   clients/1286  None  None      None
4           purchases/5  clients/24835  None  None      None
...                 ...            ...   ...   ...       ...
99995   purchases/99996   clients/3605  None  None      None
99996   purchases/99997   clients/3841  None  None      None
99997   purchases/99998  clients/23867  None  None      None
99998   purchases/99999  clients/30611  None  None      None
99999  purchases/100000  clients/67957  None  None      None

[100000 rows x 5 columns]

In [34]:
def parseDate(date):
    date = date.replace('Z', '')
    test_date = datetime.strptime(date, "%Y-%m-%d %X")
    return test_date.isoformat()

date_df = pd.read_csv('data/dates.csv')
date_df['date'] = date_df['date'].map(lambda x: parseDate(x))
dates = date_df.date

In [35]:
def makeLine():
    # id = random.choice(ids)
    product = random.choice(conj)

    return {
        "quantity": random.randint(1, 10),
        "productId": product['Id'],
        "productName": product['name'],
        "price": product['price'],
        "store": product['store']
    }

def makeOrder():
    lines = [makeLine() for i in range(random.randrange(1, 10))]
    # return [lines, round(sum(line['price'] for line in lines), ndigits=2), random.choice(dates)]
    return {
        "lines": lines,
        "total": round(sum(line['price'] for line in lines), ndigits=2),
        "orderDate": random.choice(dates)
    }

makeOrder()

{'lines': [{'quantity': 8,
   'productId': 'products/ecommerce/18987',
   'productName': "Women's No Fly Zone Field Tee, Long-Sleeve",
   'price': 17.58,
   'store': 'ecommerce'},
  {'quantity': 10,
   'productId': 'products/flipkart/5892',
   'productName': 'Denver Brave,Cool Combo Set',
   'price': 360.0,
   'store': 'flipkart'},
  {'quantity': 7,
   'productId': 'products/ecommerce/5347',
   'productName': nan,
   'price': 27.06,
   'store': 'ecommerce'},
  {'quantity': 7,
   'productId': 'products/mobiles/1016',
   'productName': 'Nokia 2 - Android - 8GB - Dual SIM Unlocked Smartphone (AT&T/T-Mobile/MetroPCS/Cricket/H2O) - 5" Screen - Black - U.S. Warranty',
   'price': 194.97,
   'store': 'mobiles'},
  {'quantity': 9,
   'productId': 'products/amazon/808',
   'productName': 'Jordan Honda EJ11 - 2001 - #12 J. Trulli 1:43 Scale Diecast Model',
   'price': 35.95,
   'store': 'amazon'},
  {'quantity': 5,
   'productId': 'products/flipkart/5650',
   'productName': 'Estella Fashion Alloy, Acrylic Necklace',
   'price': 1100.0,
   'store': 'flipkart'},
  {'quantity': 1,
   'productId': 'products/amazon/4235',
   'productName': 'Disney Pixar Cars 2 Oversize Deluxe Diecast - Submarine Finn McMissile',
   'price': 29.99,
   'store': 'amazon'},
  {'quantity': 10,
   'productId': 'products/flipkart/14097',
   'productName': "Okane Printed Men's Round Neck T-Shirt",
   'price': 699.0,
   'store': 'flipkart'}],
 'total': 2464.55,
 'orderDate': '2020-07-15T18:40:39'}

In [36]:
for idx, row in df.iterrows():
    if idx % 1000 == 0:
        print(idx)
    order = makeOrder()
    row['lines'] = order['lines']
    row['total'] = order['total']
    row['orderDate'] = order['orderDate']
    # row['lines'], row['total'], row['orderDate'] = makeOrder()

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000

In [37]:
df

,Id,client,lines,total,orderDate
0,purchases/1,clients/11522,"[{'quantity': 6, 'productId': 'products/ecomme...",3076.8,2021-07-10T03:31:39
1,purchases/2,clients/86130,"[{'quantity': 1, 'productId': 'products/flipka...",11322.99,2019-09-28T19:48:35
2,purchases/3,clients/12610,"[{'quantity': 4, 'productId': 'products/ecomme...",1918.29,2021-05-16T15:21:43
3,purchases/4,clients/1286,"[{'quantity': 8, 'productId': 'products/ecomme...",70.2,2021-05-29T05:25:10
4,purchases/5,clients/24835,"[{'quantity': 2, 'productId': 'products/ecomme...",463.77,2021-09-26T12:46:32
...,...,...,...,...,...
99995,purchases/99996,clients/3605,"[{'quantity': 7, 'productId': 'products/ecomme...",184.97,2019-09-01T20:32:33
99996,purchases/99997,clients/3841,"[{'quantity': 6, 'productId': 'products/jcpenn...",6261.74,2021-12-23T21:35:52
99997,purchases/99998,clients/23867,"[{'quantity': 8, 'productId': 'products/ecomme...",91.51,2020-07-15T09:41:04
99998,purchases/99999,clients/30611,"[{'quantity': 1, 'productId': 'products/amazon...",5998.19,2021-01-22T01:31:28
99999,purchases/100000,clients/67957,"[{'quantity': 6, 'productId': 'products/flipka...",2796.79,2019-10-05T13:57:26

In [ ]:
result = df.to_json(orient="records", default_handler=str)
parsed = json.loads(result)
json_string = json.dumps(parsed, indent=4)
with open('data/purchases.json', 'w') as outfile:
    outfile.write(json_string)