In [23]:
from datetime import datetime
import pandas as pd
import json

In [19]:
df = pd.read_json('data/clients.json')
df

           id                name             birthdate                joined
0           1      Julius Edwards  1951-06-22 20:28:01Z  2015-07-17 19:44:45Z
1           2   Camila Whitehouse  1948-01-27 02:33:41Z  2013-01-30 15:54:55Z
2           3     Adelaide Walter  1942-12-10 00:19:52Z  2013-01-12 20:42:28Z
3           4  Christine Atkinson  1957-10-15 13:56:14Z  2015-03-15 16:16:13Z
4           5      Juliet Herbert  1942-09-05 16:22:40Z  2015-08-04 11:50:00Z
...       ...                 ...                   ...                   ...
99995   99996    Darlene Morrison  1941-04-12 18:57:01Z  2017-05-05 17:28:50Z
99996   99997   Margaret Clarkson  1986-05-19 10:50:13Z  2015-11-13 01:19:43Z
99997   99998        Dani Clifton  1998-06-10 08:37:36Z  2013-01-08 00:13:00Z
99998   99999           Alan Cork  1980-10-25 21:41:04Z  2014-04-18 07:10:50Z
99999  100000     Lorraine Graham  1980-03-06 08:04:26Z  2013-12-13 15:28:25Z

[100000 rows x 4 columns]

In [20]:
def parseDate(date):
    date = date.replace('Z', '')
    test_date = datetime.strptime(date, "%Y-%m-%d %X")
    return test_date.isoformat()

In [21]:
df['birthdate'] = df['birthdate'].map(lambda x: parseDate(x))
df['joined'] = df['joined'].map(lambda x: parseDate(x))

In [ ]:
result = df.to_json(orient="records", default_handler=str)
parsed = json.loads(result)
json_string = json.dumps(parsed, indent=4)
with open('data/clients.json', 'w') as outfile:
    outfile.write(json_string)