In [12]:
import pandas as pd
import numpy as np
import random
import json
from datetime import datetime

In [13]:
df_am = pd.read_csv('data/amazon_mobiles/products.csv')
df_a = pd.read_csv('data/amazon/products.csv')
df_e = pd.read_csv('data/ecommerce/products.csv')
df_f = pd.read_csv('data/flipkart/products.csv')
df_j = pd.read_csv('data/jcpenney/products.csv')

dfs = [df_am, df_a, df_e, df_f, df_j]

In [14]:
conj = []
for df in dfs:
    conj += df.to_dict(orient='records')

In [15]:
ids = []
df_am['Id'].apply(lambda x: ids.append((x, 0)))
df_a['Id'].apply(lambda x: ids.append((x, 1)))
df_e['Id'].apply(lambda x: ids.append((x, 2)))
df_f['Id'].apply(lambda x: ids.append((x, 3)))
df_j['Id'].apply(lambda x: ids.append((x, 4)))

0        None
1        None
2        None
3        None
4        None
         ...
10609    None
10610    None
10611    None
10612    None
10613    None
Name: Id, Length: 10614, dtype: object

In [16]:
df = pd.DataFrame()
df['Id'] = ["purchases/" + str(x) for x in range(1, 100001)]
df['client'] = ["clients/" + str(x) for x in np.random.randint(1, 100000, df.shape[0])]
df['lines'], df['total'], df['orderDate'] = None, None, None

In [17]:
df

                     Id         client lines total orderDate
0           purchases/1  clients/58426  None  None      None
1           purchases/2  clients/60847  None  None      None
2           purchases/3  clients/14593  None  None      None
3           purchases/4  clients/54976  None  None      None
4           purchases/5  clients/81126  None  None      None
...                 ...            ...   ...   ...       ...
99995   purchases/99996  clients/61480  None  None      None
99996   purchases/99997  clients/49597  None  None      None
99997   purchases/99998  clients/38147  None  None      None
99998   purchases/99999  clients/80259  None  None      None
99999  purchases/100000  clients/53285  None  None      None

[100000 rows x 5 columns]

In [18]:
def parseDate(date):
    date = date.replace('Z', '')
    test_date = datetime.strptime(date, "%Y-%m-%d %X")
    return test_date.isoformat()

date_df = pd.read_csv('data/dates.csv')
date_df['date'] = date_df['date'].map(lambda x: parseDate(x))
dates = date_df.date

In [19]:
def makeLine():
    # id = random.choice(ids)
    product = random.choice(conj)
    quantity = random.randint(1, 10)
    return {
        "quantity": quantity,
        "productId": product['Id'],
        "productName": product['name'],
        "unitPrice": product['price'],
        "price": product['price'] * quantity,
        "store": product['store']
    }

def makeOrder():
    lines = [makeLine() for i in range(random.randrange(1, 10))]
    # return [lines, round(sum(line['price'] for line in lines), ndigits=2), random.choice(dates)]
    return {
        "lines": lines,
        "total": round(sum(line['price'] for line in lines), ndigits=2),
        "orderDate": random.choice(dates)
    }

makeOrder()

{'lines': [{'quantity': 1,
   'productId': 'products/flipkart/4851',
   'productName': 'Amzer Anywhere Magnetic Vehicle Mount for HTC One M8',
   'unitPrice': 1699.0,
   'price': 1699.0,
   'store': 'flipkart'},
  {'quantity': 9,
   'productId': 'products/flipkart/12518',
   'productName': "Pique Republic Women's Printed Casual Shirt",
   'unitPrice': 799.0,
   'price': 7191.0,
   'store': 'flipkart'},
  {'quantity': 4,
   'productId': 'products/ecommerce/24224',
   'productName': 'Boyt High Prairie Leather Dog Collar',
   'unitPrice': 8.5,
   'price': 34.0,
   'store': 'ecommerce'},
  {'quantity': 5,
   'productId': 'products/flipkart/9773',
   'productName': "Imbindass Printed Men's Round Neck T-Shirt",
   'unitPrice': 699.0,
   'price': 3495.0,
   'store': 'flipkart'},
  {'quantity': 4,
   'productId': 'products/jcpenney/4407',
   'productName': 'Oval Link Chain Belt',
   'unitPrice': 186.25,
   'price': 745.0,
   'store': 'jcpenney'},
  {'quantity': 4,
   'productId': 'products/flipkart/3091',
   'productName': 'Filink 310 Black Toner',
   'unitPrice': 6000.0,
   'price': 24000.0,
   'store': 'flipkart'},
  {'quantity': 7,
   'productId': 'products/mobiles/1191',
   'productName': 'Samsung Galaxy S10 128GB / 8GB RAM SM-G973F Hybrid/Dual-SIM (GSM Only, No CDMA) Factory Unlocked 4G/LTE Smartphone - International Version (Prism Blue)',
   'unitPrice': 164.26,
   'price': 1149.82,
   'store': 'mobiles'}],
 'total': 38313.82,
 'orderDate': '2019-01-14T15:36:28'}

In [20]:
for idx, row in df.iterrows():
    order = makeOrder()
    row['lines'] = order['lines']
    row['total'] = order['total']
    row['orderDate'] = order['orderDate']
    # row['lines'], row['total'], row['orderDate'] = makeOrder()

In [21]:
df

,Id,client,lines,total,orderDate
0,purchases/1,clients/58426,"[{'quantity': 4, 'productId': 'products/flipka...",9840.2,2021-06-30T05:30:43
1,purchases/2,clients/60847,"[{'quantity': 1, 'productId': 'products/flipka...",13190.0,2021-06-18T00:56:02
2,purchases/3,clients/14593,"[{'quantity': 6, 'productId': 'products/ecomme...",10766.39,2019-07-31T00:28:10
3,purchases/4,clients/54976,"[{'quantity': 7, 'productId': 'products/flipka...",8668.52,2019-01-23T14:27:04
4,purchases/5,clients/81126,"[{'quantity': 1, 'productId': 'products/amazon...",4576.26,2021-10-06T14:33:57
...,...,...,...,...,...
99995,purchases/99996,clients/61480,"[{'quantity': 6, 'productId': 'products/jcpenn...",5080.14,2022-01-11T02:26:31
99996,purchases/99997,clients/49597,"[{'quantity': 2, 'productId': 'products/amazon...",12509.4,2020-08-04T12:17:20
99997,purchases/99998,clients/38147,"[{'quantity': 5, 'productId': 'products/flipka...",12785.73,2019-06-15T09:22:48
99998,purchases/99999,clients/80259,"[{'quantity': 7, 'productId': 'products/ecomme...",19404.36,2020-03-13T09:42:28
99999,purchases/100000,clients/53285,"[{'quantity': 4, 'productId': 'products/jcpenn...",1192.16,2020-02-14T17:02:28

In [ ]:
result = df.to_json(orient="records", default_handler=str)
parsed = json.loads(result)
json_string = json.dumps(parsed, indent=4)
with open('data/purchases.json', 'w') as outfile:
    outfile.write(json_string)