In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df_am = pd.read_csv('data/amazon_mobiles/products.csv')
df_a = pd.read_csv('data/amazon/products.csv')
df_e = pd.read_csv('data/ecommerce/products.csv')
df_f = pd.read_csv('data/flipkart/products.csv')
df_j = pd.read_csv('data/jcpenney/products.csv')

In [3]:
am_prices = {}
a_prices = {}
e_prices = {}
f_prices = {}
j_prices = {}

def getIdPrice(id, price, store_obj):
    store_obj[id] = price

df_am.apply(lambda x: getIdPrice(x['id'], x['price'], am_prices), axis=1)
df_a.apply(lambda x: getIdPrice(x['id'], x['price'], a_prices), axis=1)
df_e.apply(lambda x: getIdPrice(x['id'], x['price'], e_prices), axis=1)
df_f.apply(lambda x: getIdPrice(x['id'], x['price'], am_prices), axis=1)
df_j.apply(lambda x: getIdPrice(x['id'], x['price'], am_prices), axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
10609    None
10610    None
10611    None
10612    None
10613    None
Length: 10614, dtype: object

In [4]:
ids = []
df_am['id'].apply(lambda x: ids.append(x))
df_a['id'].apply(lambda x: ids.append(x))
df_e['id'].apply(lambda x: ids.append(x))
df_f['id'].apply(lambda x: ids.append(x))
df_j['id'].apply(lambda x: ids.append(x))

0        None
1        None
2        None
3        None
4        None
         ...
10609    None
10610    None
10611    None
10612    None
10613    None
Name: id, Length: 10614, dtype: object

In [5]:
df = pd.DataFrame()
df.insert(0, 'id', range(0, 300000))
df['client'] = np.random.randint(1, 100000, df.shape[0])

In [6]:
def chooseRandomProducts(row):
    n = random.choice(range(1, 10))
    products = random.choices(ids, k=n)
    return products

df['products'] = df.apply(chooseRandomProducts, axis=1)

In [ ]:
def calculateTotal(row):
    products = row.products
    print('------')
    total = 0
    for pr in products:
        if pr in am_prices.keys():
            print(pr + ', ' + str(am_prices[pr]) + ' -> am')
            total += am_prices[pr]
        elif pr in a_prices.keys():
            print(pr + ', ' + str(a_prices[pr]) + ' -> a')
            total += a_prices[pr]
        elif pr in e_prices.keys():
            print(pr + ', ' + str(e_prices[pr]) + ' -> e')
            total += e_prices[pr]
        elif pr in f_prices.keys():
            print(pr + ', ' + str(f_prices[pr]) + ' -> f')
            total += f_prices[pr]
        elif pr in j_prices.keys():
            print(pr + ', ' + str(j_prices[pr]) + ' -> j')
            total += j_prices[pr]
        else:
            print(pr + ' -> ELSE')
            total += 0
    print(total)
    return total

df['total'] = df.apply(calculateTotal, axis=1)

------

TypeError: can only concatenate str (not "float") to str

In [ ]:
df

,id,client,products,total
0,0,27161,"[B07XJ5RSX3, 842041eb-d944-4312-931a-181d99312...",1092.93
1,1,13065,"[26d6050a73cfcbd28ec43588836c515e, 40fe195df64...",NaN
2,2,54109,"[b88f596a00b1dc60a784bb89e68474a7, 5aac673b-b3...",981.39
3,3,19476,"[21e55e68b940f589af883a790efbf2a5, d9b7b1528f7...",NaN
4,4,19116,"[d3bf7f47-34fc-4ff6-ba03-9a68bfec86cc, 0783390...",165.03
...,...,...,...,...
299995,299995,10476,"[5be80c66bc214522dc8509bb6e502f95, 18882a2088b...",NaN
299996,299996,22175,"[2c17f12ddbce359c3ea98154feefa478, a6ba5e11b1d...",919.76
299997,299997,95016,"[b77279ee9ec567778e46aaf8c4c6d477, B07TYW7CSS,...",1631.69
299998,299998,50579,"[eca5823d811978993e8437422aa90657, ec5fb709-c8...",NaN
299999,299999,75,"[ca0955e0-8d1f-49ab-806c-7a87e99d6de8, d77cab4...",NaN